<h1>Calculator</h1>
<div>
  <input type="number" [value]="first" (change)="onFirstChange($event.target.value)">
  <select
    class="form-input"
    [value]="operator"
    (change)="onChangeOperator($event.target.value)">
    <option value="+">+</option>
    <option value="-">-</option>
    <option value="*">*</option>
    <option value="/">/</option>
  </select>
  <input type="number" [value]="second" (change)="onSecondChange($event.target.value)">
  <div>
    <button (click)="doCalculator([operator])">Thực Thi</button>
  </div>
</div>
<div>
  <h4>Kết quả: {{output}} </h4>
</div>
